body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    background-image: linear-gradient(rgb(0, 0, 0) 10%, rgba(255, 255, 0, 0));
    display: flex;
    width: 100%;
    height: 83px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.logo{
    width: auto;
    margin-left: 5%;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.contactBTN{
    width: 10%;
    padding: 10px;
    margin-right: 5%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    align-items: center;
    border-radius: 12px;
}
.btn{
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: auto;
    font-size: 2svh;
    margin-right: 5%;
}

.hero-content{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/Hero Image.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-items{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.hero-text{
    width: 65%;
    color: rgb(255, 255, 255);
    font-size: 10svh;
    margin: 0;
}
.scroll-btn{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-gallery{
    width: 15%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.288);
    border: 1px solid rgb(255, 255, 255 , 0.30);
    border-radius: 12px;
    backdrop-filter: blur(10px);
}
.Gallery-image{
    width: 90%;
    height: auto;
    border-radius: 12px;
    margin: 5%;
}
.about{
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.about-content{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.text-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.title-text{
    width: 40%;
    color: rgb(0, 0, 0);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.about-title{
    margin: 0;
    font-size: 5svh;
}
.LearnMoreBTN{
    margin-top: 5%;
    width: auto;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    align-items: center;
    border-radius: 12px;
}
.about-text{
    width: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-content{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.imageCard1{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.imageCard2{
    width: 30%;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: bottom;
}
.imageCard3{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.Property_Image{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10%;
}
.text{
    margin: 0;
}

.Property-listing{
    margin-top: 300px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.Property-content{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}
.Property-listing-title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Property-title{
    width: 40%;
    font-size: 5svh;
}
.Property-text{
    width: 50%;
}

.Property-list{
    margin-top: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .Property-list {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        gap: 20px;
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    .Property-list {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
    }
}
.Property-card{
    width: 100%;
}
.Property-image{
    width: 100%;
    margin-bottom: 5%;
}

.Property-details{
    width: 100%;
}
.Property-name-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Property-name{
    font-size: 4svh;
    font-weight: bold;
}
.Property-price{
    font-size: 3svh;
    font-weight: bold;
}
.address{
    margin-left: 2%;
}
.Property-title{
    width: 100%;
}


.Property-address{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: small;
}

.Property-capacity{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.capacity-text{
    margin-left: 2%;
    width: 100%;
}

.Property-capacity-item{
    display: flex;
    align-items: center;
}

.FAQ-section{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.FAQ-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.FAQ-Image{
    margin-top: 5%;
    width: 100%;
}
.FAQ-Questions{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.Questions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Blog-Section{
    margin-top: 5%;
    width: 90%;
}
.Blog-Card{
    width: 30%;
}
.Blog-Post{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Blog-Date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Read-time{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.Blog-Image{
    width: 100%;
}

.pagination{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Contact-SECTION{
    margin-top: 5%;
    width: 97%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/Hero Image.png');
    background-size: cover;
    background-position: center;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-Form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-title{
    font-size: 5svh;
}
.text-content{
    color: white;
}
.contact-intro{
    width: 40%;
    margin-left: 5%;
}

.contact-fields{
    margin-right: 5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 24px;
}

.contact-input{
    width: 94%;
    margin-top: 3%;
    height: 40px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.164);
    background-color: white;
}
.message{
    height: 200px;
}

.contact-button{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin-bottom: 3%;
}

.footer{
    margin-top: 5%;
    width: 100%;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-top{
    margin-top: 5%;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.text-color{
    color: white;
}
.text-color2{
    color: rgb(116, 116, 116);
}
.contact-Info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.menu-btn{
    margin-top: 10%;
}

.footer-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line{
    align-items: center;
    width: 100%;
    border: 1px solid rgb(114, 114, 114);
}
.footer-Bottom{
    margin-top: 3%;
    width: 90%;

}

.footer-text{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.BackTO{
    display: flex;
    align-items: center;
}